<section class="bg-light pading" id="navbar-example2">
  <div class="container">
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
        <h1 class="fw-bold Poppins lead-style p-3 mt-5">Hi There, i'm</h1>
        <h3 class="fw-bold Poppins fs-3 z-style p-3">
          <span>Zainab Musa</span>
        </h3>
        <div class="main d-flex align-items-center p-3">
          <div class="static-txt">A</div>
          <ul class="dynamic-txt mt-3">
            <li><span>Frontend Engineer</span></li>
            <!-- <li><span>Freelancer</span></li> -->
          </ul>
          <!-- <div class="text Poppins p-3">I am a</div>
        <ul class="option">
          <li><span>Frontend Developer</span></li>
          <li><span>Freelancer</span></li>
        </ul> -->
        </div>

        <div class="button p-3">
          <button
            type="button"
            href="#scrollspyHeading1"
            class="btn btn-outline-success btn-radius"
          >
            About me
          </button>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div
              class="d-flex align-items-center justify-content-start p-3 gap-4"
            >
              <a href="" class="nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="nav-link"><i class="bi bi-google"></i></a>
              <a href="" class="nav-link"><i class="bi bi-linkedin"></i></a>
              <a href="" class="nav-link"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <!-- <div class="card border-light bg-primary p-5"> -->
        <img
          src="../../../assets/images/4992524.jpg"
          alt=""
          class="img-fluid image rounded-circle p-5"
        />

        <!-- </div> -->
      </div>
      <!-- <div class="ball ms-auto p-4"></div> -->
    </div>
  </div>
</section>

<section class="bg-dark text-dark pading text-center">
  <div class="container">
    <div
      class="row"
      id="scrollspyHeading1"
      data-bs-spy="scroll"
      data-bs-target="#navbar-example2"
      data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true"
    >
      <h1 class="text-center my-4 fw-bold Poppins">About Me!</h1>
      <p class="text-center Poppins fw-normal">
        I am an enthusiastic Frontend Developer always looking out for ways to
        grow and optimize my potential, my desire to grow is a trait I love
        about me. Demonstrated excellent skills in designing most of my projects
        and proficient in CSS, HTML, Java-Script, React Js and Angular Js. A
        true team player with strengths in adaptability and accuracy, the fun
        fact about me is I always execute tasks given to me and I can boldly say
        that I will be a great addition to any team.
      </p>
      <div class="d-flex align-items-center justify-content-center mt-4 mb-5">
        <button type="button" class="btn btn-outline-success btn-radius">
          My resume
        </button>
      </div>
    </div>
  </div>
</section>

<section class="bg-light text-dark pading text-center">
  <div class="container">
    <div class="row">
      <h1 class="text-center fs-5 fw-bold Poppins my-4">Projects</h1>
      <p class="text-center Poppins fw-normal">
        Working on these projects made me grow to the level i'm at now, <br />
        I am happy to implement all and i'm glad you are here reading this.
      </p>

      <!-- Becc Nigeria -->
      <div class="col-12 col-md-6 col-lg-4 mb-4 mt-3">
        <div class="bg-light border shadow border-light rounded text-dark mt-4">
          <div class="row">
            <img
              src="../../../assets/images/Screenshot (8).png"
              alt="user-profile"
              class="img-fluid img_class"
            />
          </div>
          <div class="card cardy border-light">
            <div class="card-body text-center">
              <div class="intro">
                <h6 class="card-title fs-4 fw-bold Mulish">
                  A Construction Site
                </h6>
                <p class="card-text fs-6 mt-2 Mulish">
                  A simple landing page to showcase the work done by Birak
                  Engineering & Construction Company
                </p>
                <h6 class="Mulish text">HTML + CSS + Bootstrap + Angular js</h6>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mt-2"
              >
                <a href="https://beccnigeria.com" class="p-2 Oleo text-warning"
                  >beccnigeria.com</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Zeekart Ecommerce System -->
      <div class="col-12 col-md-6 col-lg-4 mb-4 mt-3">
        <div class="bg-light border shadow border-light rounded text-dark mt-4">
          <div class="row">
            <img
              src="../../../assets/images/Screenshot (6).png"
              alt="user-profile"
              class="img-fluid img_class"
            />
          </div>
          <div class="card cardy border-light">
            <div class="card-body text-center">
              <div class="intro">
                <h6 class="card-title fw-bold fs-4 Mulish">
                  An Ecommerce Application
                </h6>
                <p class="card-text fs-6 mt-2 Mulish">
                  A mini Ecommerce system for vendors to display and update
                  their products(CRUD Operations).
                </p>
                <h6 class="Mulish text">HTML + CSS + Bootstrap + Angular js</h6>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mt-3"
              >
                <a
                  href="https://zeekart.netlify.app/"
                  class="p-2 Oleo text-warning"
                  >zeekart.netlify.app</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Dictionary -->
      <div class="col-12 col-md-6 col-lg-4 mb-3 mt-3">
        <div class="bg-light border shadow border-light rounded text-dark mt-4">
          <div class="row">
            <img
              src="../../../assets/images/Screenshot (3).png"
              alt="user-profile"
              class="img-fluid img_class"
            />
          </div>
          <div class="card cardy border-light">
            <div class="card-body text-center">
              <div class="intro">
                <h6 class="card-title fs-4 fw-bold Mulish">A Dictionary</h6>
                <p class="card-text fs-6 mt-2 Mulish">
                  A Simple dictionary for a user to be able to search for words
                  and their meanings, a speech search is also implemented.
                </p>
                <h6 class="Mulish text">HTML + CSS + Java-Script + React js</h6>
              </div>
              <div
                class="d-flex align-items-center justify-content-center mt-3"
              >
                <a
                  href="https://dictionary-coral.vercel.app"
                  class="p-2 Oleo text-warning mb-1"
                  >dictionary-coral.vercel.app</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center mb-5">
        <a href="" class="text-warning Mulish">View all</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-dark pading text-center">
  <div class="container">
    <div class="row">
      <h1 class="text-center fs-4 my-4 fw-bolder Poppins">
        Get In <span class="text-success">Touch!</span>
      </h1>
      <div class="card border-light mt-3 pading">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <img
              src="../../../assets/images/Human hand typing on computer with different symbols above.jpg"
              alt=""
              class="img-fluid mt-4"
            />
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card border-light pad text-dark">
              <div class="card-body cbody">
                <form [formGroup]="contactForm">
                  <div class="form-outline mb-4">
                    <input
                      type="name"
                      class="form-control"
                      formControlName="name"
                      placeholder="name"
                    />
                    <div
                      class="mb-4"
                      *ngIf="
                        contactForm.get('name').invalid &&
                        (contactForm.get('name').dirty ||
                          contactForm.get('name').touched)
                      "
                    >
                      <p class="text-primary">*name required</p>
                    </div>

                    <!-- <div
                      class="mb-4"
                      *ngIf="
                        contactForm.get('lname').invalid &&
                        (contactForm.get('lname').dirty ||
                          contactForm.get('lname').touched)
                      "
                    >
                      <p class="text-warning">*last name required</p>
                    </div> -->

                    <input
                      type="email"
                      class="form-control mt-4"
                      formControlName="email"
                      placeholder="email"
                    />
                    <div
                      class="mb-4"
                      *ngIf="
                        contactForm.get('email').invalid &&
                        (contactForm.get('email').dirty ||
                          contactForm.get('email').touched)
                      "
                    >
                      <p class="text-primary">*email required</p>
                    </div>

                    <input
                      type="number"
                      class="form-control mt-4"
                      formControlName="pnumber"
                      placeholder="phone"
                    />
                    <div
                      class="mb-4"
                      *ngIf="
                        contactForm.get('pnumber').invalid &&
                        (contactForm.get('pnumber').dirty ||
                          contactForm.get('pnumber').touched)
                      "
                    >
                      <p class="text-primary">*Phone number required</p>
                    </div>

                    <div class="row align-items-center">
                      <div class="col-12 mb-2 mt-4">
                        <textarea
                          class="form-control"
                          rows="4"
                          placeholder="leave a message!"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <a
                    type="submit"
                    role="button"
                    class="btn btn-success w-100 mb-2 text-light"
                    >Send a message</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div> -->
      </div>
    </div>
  </div>
</section>
