<section class="bg-light">
  <!-- The social media logo section -->
  <div class="px-4">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="d-flex align-items-center justify-content-start p-2 gap-3">
          <a href="https://twitter.com/zeeemari" class="nav-link"
            ><i class="bi bi-twitter"></i
          ></a>
          <a href="https://www.instagram.com/zeeemari" class="nav-link"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/zainab-musa-3a38aa174"
            class="nav-link"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a href="https://github.com/Zeemari" class="nav-link"
            ><i class="bi bi-github"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="col-12 p-2">
          <p class="fw-normal text-secondary">
            zeemari © 2023 . All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
